head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/all.js")
body
    main
        header It's Header time
