/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@test-1-name: test-1;
@test-1-x: 41px;
@test-1-y: 0px;
@test-1-offset-x: -41px;
@test-1-offset-y: 0px;
@test-1-width: 30px;
@test-1-height: 30px;
@test-1-total-width: 71px;
@test-1-total-height: 36px;
@test-1-image: 'img/sprites.png';
@test-1: 41px 0px -41px 0px 30px 30px 71px 36px 'img/sprites.png' test-1;
@test-name: test;
@test-x: 0px;
@test-y: 0px;
@test-offset-x: 0px;
@test-offset-y: 0px;
@test-width: 36px;
@test-height: 36px;
@test-total-width: 71px;
@test-total-height: 36px;
@test-image: 'img/sprites.png';
@test: 0px 0px 0px 0px 36px 36px 71px 36px 'img/sprites.png' test;
@spritesheet-width: 71px;
@spritesheet-height: 36px;
@spritesheet-image: 'img/sprites.png';
@spritesheet-sprites: @test-1 @test;
@spritesheet: 71px 36px 'img/sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
