@import "variables.less";
@import "static/sprites.less";

@import "vendor/test";

body {
  font-size: 20px;
  text-align: center;
  border: 1px solid @main_color;
  .mm(@main_color);
}

.spr {
  .sprite(@test);
  background-color: aqua;
}