.icon {
display: inline-block;
width: 1em;
height: 1em;
fill: currentColor;
}

    .icon-deer {
    font-size:(512/10)*1rem;
    width:(512/512)*1em;
    }
    .icon-fox {
    font-size:(512/10)*1rem;
    width:(512/512)*1em;
    }
